/*--- Avanquest WebEasy Document Style ---*/

*                   { /* All Elements */
	margin          : 0px;
	padding         : 0px;
	}
a:link              { /* Document Links */
	color           : #ffffff;
	}
a:visited           { /* Visited Links */
	color           : #ffffff;
	}
a:hover             { /* Hover Links */
	color           : #cc0033;
	}
a:active            { /* Active Links */
	color           : #cc0033;
	}
ol,ul               { /* All Lists */
	margin          : 1em;
	padding-left    : 2em;
	}
p                   { /* All Paragraphs */
	margin-bottom   : 1em;
	}
.address            {
	color           : #000000;
	font            : italic 13px 'Verdana', 'Lucida Grande', Arial, sans-serif;
	}
.citation           {
	color           : #000000;
	font            : italic 16px 'Verdana', 'Lucida Grande', Arial, sans-serif;
	}
.code               {
	color           : #000080;
	font            : 16px 'Courier New', monospace;
	}
.emphasis           {
	color           : #000000;
	font            : italic 16px 'Verdana', 'Lucida Grande', Arial, sans-serif;
	}
.heading1           {
	color           : #000000;
	font            : bold 32px 'Arial', Helvetica, sans-serif;
	}
.heading2           {
	color           : #000000;
	font            : bold 27px 'Arial', Helvetica, sans-serif;
	}
.heading3           {
	color           : #000000;
	font            : 24px 'Arial', Helvetica, sans-serif;
	}
.heading4           {
	color           : #000000;
	font            : italic 21px 'Arial', Helvetica, sans-serif;
	}
.heading5           {
	color           : #000000;
	font            : 19px 'Arial', Helvetica, sans-serif;
	}
.heading6           {
	color           : #000000;
	font            : 16px 'Arial', Helvetica, sans-serif;
	}
.small              {
	color           : #000080;
	font            : 11px 'Verdana', 'Lucida Grande', Arial, sans-serif;
	}


/*--- EndOfFile ---*/
