.auth-wrapper {
    background-size: cover!important;
    background-image: url(../assets/images/background_3.png)!important;
    background-position: center center!important;
    background-repeat: no-repeat!important;
    background-attachment: fixed!important;
}
	