.accordion > .card > .card-header> {
    border-radius: 0 !important;
    margin-bottom: 0px !important;
}
.card .card-header {
    border-bottom: 1px solid #FFF;
    position: relative;
}

.bg-card-collapse{
    background: rgb(158,238,238);
    background: -moz-linear-gradient(339deg, rgba(158,238,238,1) 0%, rgba(28,190,190,1) 100%);
    background: -webkit-linear-gradient(339deg, rgba(158,238,238,1) 0%, rgba(28,190,190,1) 100%);
    background: linear-gradient(339deg, rgba(158,238,238,1) 0%, rgba(28,190,190,1) 100%);
}

.bg-card-emergencia {
    background: rgb(242,82,82);
    background: -moz-linear-gradient(148deg, rgba(242,82,82,1) 0%, rgba(255,126,126,1) 98%);
    background: -webkit-linear-gradient(148deg, rgba(242,82,82,1) 0%, rgba(255,126,126,1) 98%);
    background: linear-gradient(148deg, rgba(242,82,82,1) 0%, rgba(255,126,126,1) 98%);
}

#link {
    color: #fff;
}