.btn-collapse {
    display: inline-block;
    font-weight: 400;
    color: #1CBEBE;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.5rem 1.2rem;
    font-size: 0.75rem;
    line-height: 1.2;
    border-radius: 2px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.btn-collapse-info {
    color: #1CBEBE!important;
    background-color: #FFF!important;
    border-color: #1CBEBE!important;
    padding: 0.20rem 0.10rem!important;
    line-height: 1.3!important;
}

.btn-collapse-info:active{
    color: #fff;
    background-color: #08A0A0;
    border-color: #08A0A0;
}

.btn-collapse-info:hover {
    color: #fff;
    background-color: #08A0A0;
    border-color: #08A0A0;
}

.btn-collapse-info:focus, .btn-info.focus {
    color: #fff;
    background-color: #1CBEBE;
    border-color: #1CBEBE;
    box-shadow: 0 0 0 0rem rgba(38, 184, 202, 0.5);
}

.btn-collapse-info.disabled, .btn-info:disabled {
    color: #fff;
    background-color: #7CCCCC;
    border-color: #7CCCCC;
}

.btn-collapse-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active,
  .show > .btn-info.dropdown-toggle {
    color: #fff;
    background-color: #007f8e;
    border-color: #007381;
}

.btn-collapse-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active:focus,
    .show > .btn-info.dropdown-toggle:focus {
    box-shadow: 0 0 0 0rem rgba(38, 184, 202, 0.5);
}

