.card-a {
    box-shadow: none!important; 
    box-shadow: 0 0px 0px 0px !important;
    margin-bottom: 1rem!important;
    padding:3px 10px;
    border-radius: 4px!important;
box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.12) !important;
}



.card-header-a {
    padding: 0rem 0.4rem!important;
    background-color: #ffffff!important;
    color: #2a52a3;
        border-bottom: 0px solid #e2e5e8!important;
        border-radius: 4px!important;
        border: 1px solid #fff;

}

.card-body-aten-a {
    padding-top: 0.75rem!important;
    padding-button: 0.188rem!important;
    padding-left: 0.375rem!important;
    padding-right: 0.375rem!important;
    border-top: 1px solid #E8E8E8!important;
    
    /* border-left: 1px solid #E8E8E8!important; */
    /* border-right: 1px solid #E8E8E8!important; */
    /* border-bottom: 1px solid #E8E8E8!important; */
}

.btn.btn-icon{
    width: 25px !important;
    height: 25px !important;
    font-size: 19px !important;
    padding: 0px;

}

.iconoinput {

    font-size: 15px;
    position: absolute;
    right: 25px;
    padding-top: 10px;
   

}

.inputPadding {
    padding-left: 30px;
}

.accor-closed-a {

  cursor: pointer;
  font-weight: 700;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 0.9rem;
  transition: 0.4s;
  padding: 5px 0px 0px 3px;
  
}

.accor-closed-a:after {
  content: "\2212";
  font-weight: 700;
  float: right;
  font-size: 1.1rem;
  margin-left: 5px;
  

}

.card-act-open-a:after{
  content: '\002B';
  color: #3366cc;


}


.accor-open-a {

  cursor: pointer;
  font-weight: 700;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 0.9rem;
  transition: 0.4s;
  padding: 5px 0px 0px 3px;
  color: #3366cc!important;
}


.accor-open-a:hover {

  cursor: pointer;
  font-weight: 700;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 0.9rem;
  transition: 0.4s;
  color: #3366cc!important;

}

.accor-open-a:after {

  content: '\002B';
  font-weight: 700;
  float: right;
  font-size: 1.1rem;
  margin-left: 5px;
  color: #3366cc!important;
}

.card-act-closed-a:after{
    content: "\2212";

}

.border-card-info {
    border-left: 3px solid #1CBEBE!important;
}

.border-card-primary {
    border-left: 3px solid #3366CC!important;;
}

.border-card-danger {
    border-left: 3px solid #ff5252!important;;
}

.border-card-purple {
    border-left: 3px solid #ff5252!important;;
}

.border-card-warning {
    border-left: 3px solid #ff5252!important;;
}




