
.card-body-aten {
    padding-top: 0.65rem!important;
    padding-button: 0.65rem!important;
    padding-left: 0.375rem!important;
    padding-right: 0.375rem!important;
    border-top: 1px solid #E8E8E8!important;
    border-left: 1px solid #E8E8E8!important;
    border-right: 1px solid #E8E8E8!important;
    border-bottom: 1px solid #E8E8E8!important;
}


.btn.btn-icon{
	width: 25px !important;
    height: 25px !important;
    font-size: 15px !important;
}

.iconoinput {
    color: #e8e8e8;
    font-size: 14px;
    position: absolute;
    right: 25px;
    padding-top: 10px;

}

.inputPadding {
    padding-left: 40px;
}

.accor-closed {
  color: #3f5058;
  cursor: pointer;
  font-weight: 600;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 0.95rem;
  transition: 0.4s;
}

.accor-closed:after {
  content: "\2212";
  font-weight: 600;
  float: right;
  font-size: 0.95rem;
  margin-left: 5px;
}

.card-act-open:after{
  content: '\002B';
}

.accor-open {
  color: #3f5058;
  cursor: pointer;
  font-weight: 600;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 0.95rem;
  transition: 0.4s;
}

.accor-open:after {
  content: '\002B';
  font-weight: 600;
  float: right;
  font-size: 0.95rem;
  margin-left: 5px;
}

.card-act-closed:after{
    content: "\2212";
}


