body {
 background: #560d75;
background: -webkit-linear-gradient(90deg, rgb(122 37 155) 0%, rgb(155 119 170) 100%);
background: -moz-linear-gradient(90deg, rgb(122 37 155) 0%, rgb(155 119 170) 100%);
background: linear-gradient(90deg, rgb(122 37 155) 0%, rgb(155 119 170) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7A259B", endColorstr="#9B77AA", GradientType=1);
}

.bg-c-info {
	background-color: #0cb9b9;  
}

.btn.btn-icon {
    width: 33px;
    height: 33px;
    padding: 0;
    border-radius: 50%;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


@media (min-width: 992px) { 

.subir {
      
  transform: translate(0px);
  transition: 0.5s;
}

.subir:hover {
      
  transform: translateY(-10px);
  transition: 0.5s;
}

.opacidad {
    opacity:1;
    transition: 0.2s;
}

.opacidad:hover {
    opacity:0.7;
    transition: 0.2s;   
}

.opacidad_collapse {
    opacity:1;
    transition: 0.2s;

}

.opacidad_collapse:hover {
    opacity:0.8;
    transition: 0.2s;   
}


.bg-c-orange {
	background-color: #E27222;
}

.btn-horas-rojo {
    color: #fff;
    background-color: #dc3545;
    border-color: none;
    padding: 2px 3px 2px 3px;
    margin: 1px;
    font-size: 10px;
    cursor:pointer;
    transition: 0.5s;
}

.btn-horas-rojo:hover {
    color: #fff;
    background-color: #BC0214;
    border-color: none;
    padding: 2px 3px 2px 3px;
    cursor:pointer;
    transition: 0.5s;   
}

.btn-horas-verde {
    color: #fff;
    background-color: #72B02C;
    border-color: none;
    padding: 2px 3px 2px 3px;
    margin: 1px;
    font-size: 10px;
    cursor:pointer;
    transition: 0.5s;
}

.btn-horas-verde:hover {
    color: #fff;
    background-color: #4D8013;
    border-color: none;
    padding: 2px 3px 2px 3px;
    cursor:pointer;
    transition: 0.5s;
}

.card-derecho {
  flex-direction: row;
}

.card-derecho img {
  width: 30%;
}

}



