/**.caja-boton-flotante-tipo-agenda {
    font-size: 0.91rem;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: center;
    position: fixed;
    top: 120px;
    right: -100px;
    flex-wrap: nowrap;
    width: auto;
    height: auto;

}

.btn-tipo-agenda {
     margin-right:25px;
     padding-right: 8px;
     padding-left: 8px;
    z-index: 1000000000;
    cursor: pointer;
    transform: rotate(90deg);
    margin-bottom: 143px;
    width: auto;
    color: #fff;
  
}

.btn-tipo-agenda:hover {
    color: #fff;
}
**/

.botones-container {
    top: 250px; /* Posición centrada verticalmente */
    width:80px;
    position: fixed; /* Fija la posición en la pantalla */
    right: 0; /* Pegado al lado derecho */
    transform: translateY(-50%); /* Ajuste para centrar */
    display: flex;
    flex-direction: column; /* Organiza los botones verticalmente */
    gap: 100px; /* Espacio entre botones */
    z-index: 2000000;
}

.botones-container-asistente
{
    top: 42%; /* Posición centrada verticalmente */
    width:80px;
    position: fixed; /* Fija la posición en la pantalla */
    right: 0; /* Pegado al lado derecho */
    transform: translateY(-50%); /* Ajuste para centrar */
    display: flex;
    flex-direction: column; /* Organiza los botones verticalmente */
    gap: 100px; /* Espacio entre botones */
    z-index: 2000000;
}


    /* Estilos generales de los botones */
.boton {
    transform: rotate(90deg);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8b52c2; /* Color de fondo azul */
    color: white; /* Color del texto */
    text-decoration: none; /* Quita el subrayado */
    font-size: 13px;
    line-height: 14px;
    font-weight: bold;
    padding: 4px 6px 5px 6px;
    border-radius: 5px; /* Bordes redondeados en la izquierda */
    transition: background-color 0.3s ease; /* Efecto de hover */
    position: relative;
    width: 130px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

    /* Color del botón al pasar el ratón */
    .boton:hover {
        color: #fff;
    background-color: #6d3b9f;
}

   

    /* Icono al inicio del botón */
    .boton i {
    margin-right: 8px; /* Espaciado entre el icono y el texto */
}

