.m-ingreso-ficha {
  margin-top: 14%;
  margin-bottom: 14%;
  margin-right: 5%;
  margin-left: 5%;
}

.form-group .floating-label {
    position: absolute;
    top: 7px;
    left: 3px!important;
    font-size: 0.83rem;
    z-index: 1;
    cursor: text;
    transition: all 0.3s ease;
    pointer-events: none !important;
}

.form-group .floating-label + .form-control {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 2px;
}

.form-group.fill .floating-label {
    top: -10px;
    font-size: 0.75rem;
    color: #495057;
    background-color: #fff;
    padding-left: 5px;
    padding-right: 5px;
}

.floating-label-activo-sm {  
    position: absolute;
    top: -10px;
    left: 2px!important;
    font-size: 0.68rem;
    color: #67409e;
    background-color: #f4f6ff;
    border-radius:3px;
    font-weight:600;
    z-index: 1;
    cursor: text;
    padding: 0px 3px;
    pointer-events: none !important;
}