.login {
background-image: url("assets/images/fondo-login.jpg");
background-repeat: no-repeat; 
background-size: cover; 
}

.field-wrapper{
            position: relative !important;
            margin-bottom: 15px !important;
        }
    
        .field-wrapper input{
            border: 1px solid #3366CC !important;
            padding: 15px !important;
            border-radius: 4px !important;
            width: 100% !important;
        }

        .field-wrapper .field-placeholder{
            font-size: 16px !important;
            position: absolute !important;
            /* background: #fff; */
            bottom: 17px !important;
            -webkit-box-sizing: border-box !important;
            box-sizing: border-box !important;
            color: #80868b !important;
            left: 8px !important;
            padding: 0 8px !important;
            -webkit-transition: transform 150ms cubic-bezier(0.4,0,0.2,1),opacity 150ms cubic-bezier(0.4,0,0.2,1);
            transition: transform 150ms cubic-bezier(0.4,0,0.2,1),opacity 150ms cubic-bezier(0.4,0,0.2,1);
            z-index: 1 !important;

            text-align: left !important;
            width: 100% !important;
        }        
        
        .field-wrapper .field-placeholder span{
            background: #ffffff !important;
            padding: 0px 8px !important;
        }

        .field-wrapper input:not([disabled]):focus~.field-placeholder
        {
            color:#1A73E8 !important;
        }
    
        .field-wrapper input:not([disabled]):focus~.field-placeholder,
        .field-wrapper.hasValue input:not([disabled])~.field-placeholder
        {
            -webkit-transform: scale(.75) translateY(-39px) translateX(-60px)!important;
            transform: scale(.75) translateY(-39px) translateX(-60px)!important;
            
        }