/*AZUL*/
.nav-tabs-aten {
    border-bottom: none;
}
    .nav-link-aten.active {
    background-color: #f7e9fe!important;
    font-size: 0.85rem;
    font-weight: 600;
    padding: 1px 3px!important;
    color: #67409e!important;
    border: 1px solid #d5aeff;
    transition: 0.2s!important;
}

.nav-link-aten {
    background-color: #f3f7fb !important;
    font-size: 0.85rem;
    font-weight: 600;
    color: #738192 !important;
    padding: 1px 3px!important;
    margin-right: 3px!important;
    border-radius: 3px;
    margin-bottom: 2px!important;
    margin-top: 2px!important;
    border: 1px solid #e2e5e8;
    transition: 0.2s!important;
}

.nav-link-aten:hover { 
    background-color: #67409e!important;
    font-size: 0.85rem;
    font-weight: 600;
    padding: 1px 3px!important;
    color: #fff!important;
    margin-bottom: 2px!important;
    margin-top: 2px!important;
    border: 1px solid #d5aeff;
    transition: 0.2s!important;
}

.nav-link-aten-red {
    background-color: #f0f0f0!important;
    font-size: 0.85rem;
    font-weight: 600;
    color: #373a3c!important;
    padding: 2px 10px!important;
    margin-right: 3px!important;
    border-radius: 3px;
    margin-bottom: 2px!important;
    margin-top: 2px!important;
    border: 1px solid #e2e5e8;
    transition: 0.3s!important;

}

    .nav-link-aten-red.active {
    background-color:#ffebeb!important;
    font-size: 0.85rem;
    font-weight: 600;
    padding: 20x 8px!important;
    color: #d8002c!important;
    margin-bottom: 3px!important;
    margin-top: 3px!important;
    border: 1px solid #ef889d;
    transition: 0.3s!important;

}


.nav-link-aten-red:hover {
    background-color:#f0f0f0!important;
    font-size: 0.85rem;
    font-weight: 600;
    padding: 20x 8px!important;
    color: #d8002c!important;
    margin-bottom: 3px!important;
    margin-top: 3px!important;
    border: 1px solid #ef889d;
    transition: 0.3s!important;
}


.nav-link-aten {
    display: block;
    padding: 0.5rem 1rem;
}



/*BLANCO*/
.nav-tabs-aten-b {
    border-bottom: none;
}
    .nav-link-aten-b.active {
    background-color:#fff!important;
    font-size: 0.85rem;
    font-weight: 600;
    padding: 20x 8px!important;
    color: #1a49a3!important;
    margin-bottom: 3px!important;
    margin-top: 3px!important;
    border: 1px solid #a2c0f0;
    transition: 0.3s!important;
}

.nav-link-aten-b {
    background-color: #fff!important;
    font-size: 0.85rem;
    font-weight: 600;
    color: #373a3c!important;
    padding: 2px 10px!important;
    margin-left: 3px!important;
    border-radius: 4px;
    margin-bottom: 3px!important;
    margin-top: 3px!important;
    border: 1px solid #e2e5e8;
    transition: 0.3s!important;

}

.nav-link-aten-b:hover { 
    background-color:#dbe7ff!important;
    font-size: 0.85rem;
    font-weight: 600;
    padding: 20x 8px!important;
    color: #1a49a3!important;
    margin-bottom: 3px!important;
    margin-top: 3px!important;
    border: 1px solid #a2c0f0;
    transition: 0.3s!important;
}


.nav-link-aten-b {
    display: block;
    padding: 0.5rem 1rem;
}

/**AZUL SECUNDARIO**/
.nav-link-aten-azul-sec.active {
    background-color:#1a49a3!important;
    border-radius: 10px;
    font-size: 0.85rem;
    font-weight: 600;
    margin-bottom: 2px!important;
    margin-top: 2px!important;
    padding: 1px 3px!important;
    color: #fff!important;
    border: 1px solid #799fdc;
    transition: 0.2s!important;
}

.nav-link-aten-azul-sec {
    background-color: #f3f7fb !important;
    font-size: 0.85rem;
    font-weight: 600;
    color: #7e94be !important;
    padding: 1px 3px!important;
    margin-right: 3px!important;
    border-radius: 10px;
    margin-bottom: 2px!important;
    margin-top: 2px!important;
    border: 1px solid #7799d9;
    transition: 0.2s!important;
}

.nav-link-aten-azul-sec:hover { 
    background-color: #1a49a3!important;
    font-size: 0.85rem;
    font-weight: 600;
    padding: 1px 3px!important;
    color: #ffffff!important;
    border-radius: 10px;
    margin-bottom: 2px!important;
    margin-top: 2px!important;
    border: 1px solid #1a49a3;
    transition: 0.2s!important;
}