.nav-tabs-aten {
    border-bottom: none;
}

.nav-link-modal.active {
    background-color:#dbe7ff!important;
    font-size: 0.75rem;
    font-weight: 600;
    padding: 20x 8px!important;
    color: #3366cc!important;
    margin-bottom: 3px!important;
    margin-top: 3px!important;
}

.nav-link-modal{
    background-color: #e2e5e8!important;
    font-size: 0.75rem;
    font-weight: 600;
    color: #373a3c!important;
    padding: 2px 10px!important;
    margin-left: 3px!important;
    border-radius: 4px;
    margin-bottom: 3px!important;
    margin-top: 3px!important;
    border: 1px solid #e2e5e8;
}

.nav-link-modal:hover{
    background-color:#fff!important;
    font-weight: 600;
    border-radius: 2px!important; 
    padding: 2px 10px!important;
    color: #3366cc!important;
    margin-bottom: 3px!important;
    margin-top: 3px!important;
    transition: 0.3s!important;
}


.nav-link-modal {
    display: block;
    padding: 0.5rem 1rem;
}
}






	