.titulos_tarjetas {
	font-size: 20px!important;
}

.btn.btn-icon {
    width: 35px!important;
    height: 35px!important;
    font-size: 15px!important;
}

.floating-label-activo-sm {  
	position: absolute;
	top: -10px;
	left: 3px!important;
	font-size: 0.75rem;
	color: #495057;
	background-color: #fff;
	z-index: 1;
	cursor: text;
	pointer-events: none!important;
}

.floating-label-activo {  
	position: absolute;
	top: -10px!important;
	left: 3px!important;
	font-size: 0.75rem!important;
	color: #495057!important;
	padding-left: 3px!important;
	padding-right: 3px!important;
	background-color: #fff!important;
	z-index: 1!important;
	cursor: text!important;
	pointer-events: none !important;
}