
.bt-wizard .nav .nav-link.active {
    box-shadow: none;
}

.auth-wrapper a,
   {
    color: #fff !important;
    font-weight: 600;
}

.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}