.nav-secciones.active{
    color: #ffffff;
    font-size: 0.76rem!important;
    background-color: #36acb8;
    margin-bottom: 0.5rem!important;
    margin-top: 0.5rem!important;
    margin-left: 0rem!important;
    margin-right: 0.100rem!important;
    border: 1px solid #36acb8!important;
    font-weight:600!important;
    transition: 0.3s!important;
}

.nav-secciones {
    color: #738193;
    border: solid 1px #adb9c8 !important;
    font-size: 0.76rem!important;
    background-color: #fff;
    padding: 3px 6px!important;
    border-radius: 2rem;
    margin-bottom: 0.5rem!important;
    margin-top: 0.5rem!important;
    margin-left: 0rem!important;
    margin-right:0.100rem!important;
    line-height: 1.5;
    font-weight:600!important;
    transition: 0.2s!important;
}

.nav-secciones:hover{
    color: #ffffff;
    font-size: 0.76rem!important;
    background-color: #36acb8;
    margin-bottom: 0.5rem!important;
    margin-top: 0.5rem!important;
    margin-left: 0rem!important;
    margin-right: 0.100rem!important;
    border: 1px solid #c499e2!important;
    font-weight:600!important;
    transition: 0.3s!important;

}

.nav-tabs-secciones {
    border-bottom: 0px solid #653a92!important;
    font-size: 0.75rem!important;
    margin-bottom: 0.5rem!important;
    margin-top: 0.5rem!important;
    margin-left: 0rem!important;
    margin-right: 0.100rem!important;
}

.nav-tabs-secciones .nav-item-secciones {
    font-size: 0.75rem!important;
    margin-bottom: 0.5rem!important;
    margin-top: 0.5rem!important;
    margin-left: 0rem!important;
    margin-right: 0.100rem!important;
}



.nav-secciones-dos.active{
    color: #ffffff;
    font-size: 0.72rem!important;
    background-color: #1a49a3;
    margin-bottom: 0.5rem!important;
    margin-top: 0.5rem!important;
    margin-left: 0rem!important;
    margin-right: 0.100rem!important;
    border: solid 1px #1a49a3!important;
    font-weight:600!important;
    transition: 0.3s!important;
    flex: 1 1 auto;
    text-align: center;
}

.nav-secciones-dos {
    color: #7395d8;
    border: solid 1px #aec4f0 !important;
    font-size: 0.72rem!important;
    background-color: #fff;
    padding: 3px 6px!important;
    border-radius: 1rem;
    margin-bottom: 0.5rem!important;
    margin-top: 0.5rem!important;
    margin-left: 0rem!important;
    margin-right:0.100rem!important;
    line-height: 1.5;
    font-weight:600!important;
    transition: 0.2s!important;
    flex: 1 1 auto;
    text-align: center;
}

.nav-secciones-dos:hover{
    color: #ffffff;
    font-size: 0.72rem!important;
    background-color: #1a49a3;
    margin-bottom: 0.5rem!important;
    margin-top: 0.5rem!important;
    margin-left: 0rem!important;
    margin-right: 0.100rem!important;
    border: solid 1px #1a49a3!important;
    font-weight:600!important;
    transition: 0.3s!important;
    flex: 1 1 auto;
    text-align: center;

}

.nav-tabs-secciones-dos {
    border-bottom: 0px solid #dee2e6!important;
    font-size: 0.72rem!important;
    margin-bottom: 0.5rem!important;
    margin-top: 0.5rem!important;
    margin-left: 0rem!important;
    margin-right: 0.100rem!important;
    flex: 1 1 auto;
    text-align: center;
}

.nav-tabs-secciones-dos .nav-item-secciones-dos {
    font-size: 0.72rem!important;
    margin-bottom: 0.5rem!important;
    margin-top: 0.5rem!important;
    margin-left: 0rem!important;
    margin-right: 0.100rem!important;
    flex: 1 1 auto;
    text-align: center;
}

